{
  "semi": true,
  "singleQuote": true,
  "printWidth": 260,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "plugins": ["prettier-plugin-organize-attributes", "prettier-plugin-tailwindcss"]
}
